aiogoogletrans==3.3.3
aiohttp==3.8.5
aiosignal==1.3.1
altgraph==0.17.3
anyio==3.6.2
async-timeout==4.0.2
attrs==22.2.0
auto-py-to-exe==2.34.0
beautifulsoup4==4.12.2
bottle==0.12.25
bottle-websocket==0.2.9
breadability==0.1.20
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
docopt==0.6.2
Eel==0.16.0
filelock==3.12.0
flet==0.4.2
flet-core==0.4.2
frozenlist==1.4.0
fsspec==2023.6.0
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
googlesearch-python==1.2.3
greenlet==2.0.2
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.16.4
hyperframe==5.2.0
idna==2.10
iniconfig==2.0.0
Jinja2==3.1.2
joblib==1.2.0
jsonpickle==3.0.1
lxml==4.9.2
MarkupSafe==2.1.2
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
nltk==3.8.1
numpy==1.24.2
oauthlib==3.2.2
packaging==23.0
pefile==2023.2.7
pluggy==1.0.0
pycountry==22.3.5
pycparser==2.21
pydub==0.25.1
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pyparsing==3.0.9
pytest==7.2.2
pytube==12.1.3
pywin32-ctypes==0.2.0
PyYAML==6.0
regex==2023.3.23
repath==0.9.0
requests==2.28.2
rfc3986==1.5.0
safetensors==0.3.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
SpeechRecognition==3.10.0
srt==3.5.3
sumy==0.11.0
sympy==1.11.1
tokenizers==0.13.3
torch==2.0.0
tqdm==4.65.0
transformers==4.31.0
typing_extensions==4.5.0
urllib3==1.26.15
vosk==0.3.45
watchdog==2.3.1
websocket-client==1.5.1
websockets==10.4
whichcraft==0.6.1
yarl==1.9.2
youtube-dl==2021.12.17
youtube-transcript-api==0.6.0
zope.event==4.6
zope.interface==6.0
